$enable-gradients: true;
$btn-hangup-size: 3.5rem;
$video-thumbnail-size: 200px;

@import 'node_modules/bootstrap/scss/bootstrap';

html,
body,
#app {
  height: 100vh;
}

.btn-lg-rounded {
  border-radius: 1.5rem;
}

.bg-gradient-day {
  background: rgb(255, 85, 78);
  background: linear-gradient(
    180deg,
    rgba(255, 85, 78, 1) 0%,
    rgba(255, 210, 2, 1) 100%
  );
}

.modal-dialog .modal-content {
  border: 0;
  border-radius: 0;
  height: 100%;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 100%;
  }
}

.btn-hangup {
  width: $btn-hangup-size;
  height: $btn-hangup-size;
  border-radius: $btn-hangup-size / 2;
}

.video-thumbnail {
  background-color: #fff;
  width: $video-thumbnail-size;
  height: $video-thumbnail-size;
  border-radius: $video-thumbnail-size / 2;
  position: absolute;
  right: 20px;
  bottom: 20px;
}
