$enable-gradients: true;
$btn-hangup-size: 3.5rem;
$video-thumbnail-size: 200px;

@import 'node_modules/bootstrap/scss/bootstrap';

html,
body,
#app {
  height: 100vh;
}

.btn-lg-rounded {
  border-radius: 1.5rem;
}

.bg-gradient-day {
  background: rgb(255, 85, 78);
  background: linear-gradient(
    180deg,
    rgba(255, 85, 78, 1) 0%,
    rgba(255, 210, 2, 1) 100%
  );
}

.modal-dialog .modal-content {
  border: 0;
  border-radius: 0;
  height: 100%;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 100%;
  }
}

.btn-hangup {
  width: $btn-hangup-size;
  height: $btn-hangup-size;
  border-radius: $btn-hangup-size / 2;
}

.video-thumbnail {
  background-color: #fff;
  width: $video-thumbnail-size;
  height: $video-thumbnail-size;
  border-radius: $video-thumbnail-size / 2;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

// Loading
@keyframes loader {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0.15;
    transform: translateY(-10px) scale(0.75);
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.loader .loader_line {
  height: 1rem;
  width: 1rem;
  display: inline-block;
  border-radius: 50%;
  animation: loader 0.6s infinite alternate;
}

.loader .loader_line:nth-of-type(2) {
  animation-delay: 0.15s;
}

.loader .loader_line:nth-of-type(3) {
  animation-delay: 0.3s;
}

.loader .loader_line:nth-of-type(4) {
  animation-delay: 0.45s;
}

.backdrop {
  position: absolute;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
